.topHeader {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    z-index: 3;
    background-color: burlywood;
}
@media only screen and (max-width: 576px) {
    .topHeader {
        padding: 0;
    }
    .logotext {
        width: 0;
    }

    .ant-layout-header {
        height: 116px;
    }
}
@media (min-width: 577px) and (max-width: 991px) {
   


    .ant-layout-header {
        height: 120px;
    }
}

.logoBox {
    max-height: 64px;
}
.ant-menu-submenu-arrow::after {
    background-color: #1890ff;
}
.ant-menu-submenu-arrow::before {
    background-color: #1890ff;
}
